html{

  height:100%;
}

body{

   height:100%;
   background-attachment:fixed;
   background-color:#333333;
}

.header{

   font-family: 'Pacifico', cursive;
   color:white;
}

.settings{

   margin-top:40px;
   color:white;

}

#github-link{

   margin-left:50px;


}

#break-length{

   width:100px;
   background-color:#333333;
   color:white;
   margin-left:10px;
   margin-right:10px;
   font-size:40px;

}

#session-length{

   width:100px;
   background-color:#333333;
   color:white;
   margin-left:10px;
   margin-right:10px;
   font-size:40px;
}

.minus{

   font-size:45px;

}

.plus{

   font-size:45px;

}

/** This part removes the original button style of button ***/

button{
  -webkit-appearance: none;
  outline: none;
  border: 0;
  background: transparent;
}

.timer{

   margin-top:50px;
   background-color:#333333;
   color:white;


}

#data{

  border-radius:100px;
  border:2px solid #99CC00;
  width:220px;

  padding-top:5px;
  padding-bottom:


}



#time{

   margin-top:44px;

}
